@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}

.header {
  width: 100%;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.navbar .logo img {
  width: 90px;
}

nav ul li {
  display: inline-block;
  margin-right: 25px;
}

nav li a {
  color: #42220c9c;
  font-weight: 600;
}

nav {
  margin-right: 35%;
}

.icon i {
  font-size: 25px;
}

/* Row */

.row {
  display: flex;
  justify-content: space-around; /* birbirinden ayırmak için */
  align-items: center; /* dikeyde hizalamak için */
}

.col-2 {
  flex-basis: 50%;
}

.container .box {
  width: 500px;
  height: 500px;
  margin-top: -60px;
  position: relative;
}

.container .box img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* en boy oranının korunmasını sağlıyor */
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
}

.container .box video {
  position: absolute; /* sayfada yer kaplamıyor top=0 ve left=0 ile hizalanmasını sağlıyor */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.col-2 {
  font-size: 1rem;
  color: #42220ccf;
}

.col-2 span {
  font-size: 6rem;
  margin-left: 80px !important;
  line-height: 60px;
  margin: 20px 0px;
}

.col-2 p {
  margin: 15px 0;
  font-weight: 400;
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #a35520;
  padding: 8px 30px;
  border-radius: 30px;
  margin-top: 5px;
  margin-left: 70%;
}
